# production settings
# src/configuration/production.yaml

# compiled output
/dist
/node_modules

# dependencies
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
!.yarn/cache

# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
# 아래를 코멘트하여 .pnp.*를 깃허브에 연동시 Zero install로 관리(의존성 설치 불필요)
# .pnp.*


# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Logo
!upload/9415e64f-5328-4706-909f-abc34fba1427.png

# Backend
!upload/.keep
upload/*
