# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Custom
!upload/11b83d16-a4bb-4c09-a70d-77b1a1c7c4b0.jpeg
!upload/9855001b-7464-415d-a48a-bc4aed4ba3a9.jpeg
!upload/c0cbfe63-450d-42c9-b2fe-87b878f48919.jpeg